.list{

 text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 20px; /* espace entre cartes */
  margin: 0 auto; /* centrer la grille */
  max-width: 1100px;
}

.listrech{
   text-align: center;

  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 20px; /* espace entre cartes */
  margin: 0 auto; /* centrer la grille */
  border-top:2px solid rgba(233, 225, 233, 1);
  
}


.message{

  background-color: #7698c4;
  color: white;
  border-radius: 10px;
  padding: 40px;
  font-size: 40px;
  width: 500px;
  margin-top: 100px;
  margin-left: 400px;
  margin-bottom: 100px;

}


.cartecontenu {
  display: grid;
  gap: 10px; /* espace entre les éléments */
}



.cartetitre{
  color: rgb(100, 98, 100);
}

.btnvoirplus{
  margin-top: 20px;
  background-color: #7698c4;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 12,5px;
  padding: 10px 15px;
  border-radius: 30px;
  margin-left: 10px;
  text-align: center;
}
.carterech{
 background-color: #fffefe;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  /* plus de marges ici */
  /* max-width pour la carte */
   width: 250px;
  margin: 0 auto;
}
.carte{
 background-color: #fffefe;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  /* plus de marges ici */
  /* max-width pour la carte */
  max-width: 300px;
  margin: 0 auto;
}

.carteimage {
  width: 100%; /* occupe toute la largeur de la carte */
  height: 250px;
  object-fit: cover; /* pour bien cadrer l'image */
}

@media (max-width: 768px) {

.message{

   margin-left: 35px;
  font-size: 20px;
  width: 300px;
}

 .listrech {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  }

  .carterech{
       width: 180px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    max-width: 100%;
  }
}



@media (max-width: 480px) {
  .list {
    grid-template-columns: 1fr; /* 1 colonne */
    max-width: 100%;
  }
}

